*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    background: linear-gradient(45deg, #190361 0%, #B0F 100%);
    animation: gradient 10s ease infinite;
    background-size: 200% 200%;

    display: grid;
    place-items: center;

    height: 100vh;
}

.hide{
    display: none;
}

main{
    display: flex;
    flex-direction: column;

    background: white;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    border-radius: .5rem;

    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);

    text-align: center;

    width: min(42.8rem, 90%);
}

main .text h1{
    font-family: 'Montserrat', sans-serif;
    color: #34355B;
    font-size: 2.4rem;
    font-weight: 700;

    margin-bottom: 1.4rem;
}

/*screen1*/

main .text p{
    color: #34355B;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;

    margin-bottom: 2.6rem;
}

main .screen1 img{
    cursor: pointer;
}

main .screen1 img:hover{
    animation: shaking 0.5s infinite;
}

/*screen2*/

main h2{
    font-family: 'Montserrat', sans-serif;
    color: #34355B;
    font-size: 2.4rem;
    font-weight: 700;

    margin-bottom: 1.4rem;
}

main .luckPhrase{
    padding: 1rem;
    background: #E4EDF1;
    box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);

    animation: show 1.5s forwards;
}

main .luckPhrase p{
    color: #000;
    text-align: center;
    font-size: 2.4rem;
    margin: 0 auto;
    font-family: 'Dancing Script', cursive;
}

main button{
    background: #FF9500;
    border-radius: .4rem;
    border: none;
    padding: 1.6rem;
    width: 18rem;
    margin: 0 auto;

    font-family: 'DM Sans', sans-serif;
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;

    transition: background .3s;
    cursor: pointer;
}

main button:hover{
    background: #be7001;
}

/*animation*/

@keyframes shaking{
    0%{ 
        transform: translateX(0); 
    }
    25%{ 
        transform: translateX(5px);
    }
    50%{
        transform: translateX(-5px);
    }
    75%{
        transform: translateX(5px);
    }
    100%{ 
        transform: translateX(0);
    }
}

@keyframes show{
    0%{
        transform: translateY(15rem) scale(0.1);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}